.organoids-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }
  
  .organoids-description {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
  }
  
  .organoid-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .organoid-video {
    flex-basis: calc(50% - 20px); 
    max-width: 400px;
    width: 100%; 
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .organoid-video:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  